DATA_RAW_DIR=
DATA_PROCESSED_DIR=
DATA_FEATURES_DIR=
MODEL_ARTIFACTS_DIR=

RANDOM_SEED=
GMM_MAX_COMPONENTS=
LGBM_N_ESTIMATORS=
LGBM_LEARNING_RATE=
LGBM_NUM_LEAVES=

ANNUAL_MGMT_FEE=
MONTHLY_DISCOUNT_RATE=
RISK_FREE_ANNUAL_RATE=

N_USERS=
N_DAYS=
